:root {
    --pink: #AA336A;
    --purple: #C3B1E1;

}

h1 {
    font-size: 1.5rem;
    padding-bottom: 5rem;
    color: var(--purple);
}

header {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header section {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

header section img {
    max-width: 250px;
    width: 60%;
    height: auto;
    border-radius: 100%;
}

header section div strong {
    font-size: 0.75rem;
}

header section div strong span {
    color: #AA336A;
}
