:root {
    --pink: #AA336A;
    --purple: #C3B1E1;
    --background: #181818;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    padding-bottom: 5rem;
    color: var(--purple);
}

header {
    padding: 0.5rem;
}

header section {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

header div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

header section img {
    max-width: 250px;
    width: 40%;
    height: auto;
    border-radius: 100%;
}

header section div strong {
    font-size: 1rem;
    color: #FFFFFF;
}

header section div strong span {
    color: var(--pink);
}

.wrapper-experience {
    display: flex;
    width: 90%;
    max-width: 700px;
    flex-direction: column;
}

h2 {
    color: var(--purple);
}

p {
    color: #FFFFFF;
}

.wrapper-experience strong {
    color: var(--pink);
}

.wrapper-skills {
    display: flex;
    width: 90%;
    max-width: 700px;
    margin-top: 2rem;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li::before {
    content: "• ";
    color: var(--pink);
}

li {
    color: #FFFFFF;
}

.wrapper-projects {
    display: flex;
    width: 90%;
    max-width: 700px;
    flex-direction: column;
    margin-top: 2rem;
} 

.wrapper-projects strong {
    color: var(--pink);
}
